{% extends "wrapper.html" %}

{% block content %}
    <div class="mainpage_conteiner">
        <p class="mainpage_title">ПОКУПАТЕЛЯМ</p>
        <a href="/customer/new_avto_page">
            <p class="users_punkt">Новые авто</p>
            <hr class="serv_online_hr">
        </a>
        <a href="/customer/bu_avto_page">
            <p class="users_punkt">Авто с пробегом</p>
            <hr class="serv_online_hr">
        </a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}