{% block content %}
    <footer>
        <div class="footer_conteiner">
            <a href="/">
                <div class="footer_item">
                    <img src="/static/img/greenlight_logo.png" class="greenlight_logo">
                    <h1 id="footer_title">GREENLIGHT</h1>
                </div>
            </a>
            <div class="footer_menu">
                <div class="first_col">
                    <a href="/models">
                        <p class="main_punkt">МОДЕЛИ</p>
                    </a>
                    <a href="/all_avto">
                        <p class="main_punkt">АВТО В НАЛИЧИИ</p>
                    </a>
                    <a href="/test-drive">
                        <p class="main_punkt">ТЕСТ-ДРАЙВ</p>
                    </a>
                    <a href="/contact_page">
                        <p class="main_punkt">КОНТАКТЫ</p>
                    </a>
                </div>
                <div class="cust_owner">
                    <a href="/customer">
                        <p class="main_punkt">ПОКУПАТЕЛЯМ</p>
                    </a>
                    <a href="/test-drive">
                        <p class="also_punkt">Тест-драйв</p>
                    </a>
                    <a href="/request_call">
                        <p class="also_punkt">Заказать звонок</p>
                    </a>
                    <a href="/customer/new_avto_page">
                        <p class="also_punkt">Каталог новых авто</p>
                    </a>
                    <a href="/customer/bu_avto_page">
                        <p class="also_punkt">Каталог авто с пробегом</p>
                    </a>
                </div>
                <div class="cust_owner">
                    <a href="/users">
                        <p class="main_punkt">ВЛАДЕЛЬЦАМ</p>
                    </a>
                    <a href="/users/service_registration">
                        <p class="also_punkt">Записаться на сервис</p>
                    </a>
                    <a href="/users/instruction">
                        <p class="also_punkt">Руководство по эксплуатации</p>
                    </a>
                </div>
                <div class="adress">
                    <p class="main_punkt">АДРЕС САЛОНА:</p>
                    <p class="also_punkt">г. Ульяновск, Московское шоссе, 64Д</p>
                    <p class="main_punkt">Телефон:</p>
                    <p class="also_punkt">+7-987-654-32-10</p>
                    <p><a href="/request_call"><input type="button" name="call" value="Заказать звонок" class="footer_button"></a></p>
                </div>
            </div>
            <div class="copyright">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </footer>
{% endblock %}