{% block content %}
    <header>
        <div class="header_conteiner">
            <a href="/">
                <div class="header_item">
                    <img src="/static/img/greenlight_logo.png" class="greenlight_logo">
                    <h1 id="header_title">GREENLIGHT</h1>
                </div>
            </a>
            <div class="header_item">
                <p id="header_adress">ул. Московское шоссе, 64Д</p>
                <p id="header_number">+7-987-654-32-10</p>
            </div>
        </div>
    </header>
{% endblock %}