{% block content %}
    <div class="menu_bar">
        <a href="/models">
            <p class="bar_punkt">МОДЕЛИ</p>
        </a>
        <a href="/all_avto">
        <p class="bar_punkt">АВТО В НАЛИЧИИ</p>
        </a>
        <a href="/customer">
        <p class="bar_punkt">ПОКУПАТЕЛЯМ</p>
        </a>
        <a href="/users">
            <p class="bar_punkt">ВЛАДЕЛЬЦАМ</p>
        </a>
        <a href="/test-drive">
            <p class="bar_punkt">ТЕСТ-ДРАЙВ</p>
        </a>
        <a href="/contact_page">
            <p class="bar_punkt">КОНТАКТЫ</p>
        </a>
    </div>
{% endblock %}