{% extends "wrapper.html" %}

{% block content %}
    <div class="mainpage_conteiner">
        <p class="mainpage_title">ЗАПИСЬ НА ТЕСТ-ДРАЙВ</p>
        <form method="post">
            {% csrf_token %}
            <p class="test_drive_form_punkt">Выберите тип вопроса*</p>
            {{ form.call_question_type }}<br>
            <p class="test_drive_form_punkt">Выберите модель авто</p>
            {{ form.call_mod_car }}<br>
            <p class="test_drive_form_punkt">Введите имя*</p>
            {{ form.call_customer_name }}<br>
            <p class="test_drive_form_punkt">Введите номер телефона*</p>
            {{ form.call_customer_phnum }}<br>
            <p class="test_drive_form_punkt">Комментарий</p>
            {{ form.call_customer_comment }}<br>
            <p>
                {{ form.call_personal_info }}
                <label>Даю согласие на обработку персональных данных*</label>
            </p>
            <p>
                {{ form.call_personal_reklama }}
                <label>Даю согласие на получение информации рекламного характера</label>
            </p>
            <span>{{ error }}</span>
            <p class="primechanie">Поля, отмеченные *, являются обязательными для запонения</p>
            <button type="submit" class="call_request_button">Отправить заявку</button><br>
        </form>
    </div>
{% endblock %}