{% extends "wrapper.html" %}

{% block content %}
    <div class="mainpage_conteiner">
        <p class="mainpage_title">ВЛАДЕЛЬЦАМ</p>
        <a href="/users/service_registration">
            <p class="users_punkt">Записаться на сервис</p>
        </a>
        <hr class="serv_online_hr">
        <a href="/users/instruction">
            <p class="users_punkt">Руководство по эксплуатации</p>
        </a>
        <hr class="serv_online_hr">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}